# yaml 配置实例
services:
  # frontadmin:
  #   # image: eysirsduane/megichains-frontadmin:latest
  #   image: eysirsduane/megichains-frontadmin:mac
  #   restart: always
  #   environment:
  #     DB_HOST: db
  #     DB_PORT: 5432
  #     DB_USER: postgres
  #     DB_PASSWORD: 123456
  #     DB_NAME: megichains
  #     DB_CHARSET: utf8mb4
  #     DB_TIMEZONE: UTC
  #   ports:
  #     - 8888
  #   depends_on:
  #     backend:
  #       condition: service_healthy
  #   volumes:
  #     - /Users/eysirs/logs:/app/logs
  #     - /Users/eysirs/workspace/megichains/etc:/app/etc
  
  # telegram:
  #   image: eysirsduane/megichains-telegram:mac
  #   restart: always
  #   environment:
  #     DB_HOST: db
  #     DB_PORT: 5432
  #     DB_USER: postgres
  #     DB_PASSWORD: 123456
  #     DB_NAME: megichains
  #     DB_CHARSET: utf8mb4
  #     DB_TIMEZONE: UTC
  #   ports:
  #     - 7777
  #   depends_on:
  #     db:
  #       condition: service_healthy
  #   volumes:
  #     - /Users/eysirs/logs:/app/logs
  #     - /Users/eysirs/workspace/megichains/etc:/app/etc

  # backend:
  #   # image: eysirsduane/megichains-web:latest
  #   image: eysirsduane/megichains-backend:mac
  #   restart: always
  #   environment:
  #     DB_HOST: db
  #     DB_PORT: 5432
  #     DB_USER: postgres
  #     DB_PASSWORD: 123456
  #     DB_NAME: megichains
  #     DB_CHARSET: utf8mb4
  #     DB_TIMEZONE: UTC
  #   ports:
  #     - 6666
  #   depends_on:
  #     db:
  #       condition: service_healthy
  #   volumes:
  #     - /Users/eysirs/logs:/app/logs
  #     - /Users/eysirs/workspace/megichains/etc:/app/etc
  #     # - /home/test/logs:/app/logs

  job:
    # image: eysirsduane/megichains-web:latest
    image: eysirsduane/megichains-job:mac
    restart: always
    environment:
      DB_HOST: db
      DB_PORT: 5432
      DB_USER: postgres
      DB_PASSWORD: 123456
      DB_NAME: megichains
      DB_CHARSET: utf8mb4
      DB_TIMEZONE: UTC
    ports:
      - 7002:7002
    depends_on:
      db:
        condition: service_healthy
    volumes:
      - /Users/eysirsduane/logs:/app/logs
      - /Users/eysirsduane/etc:/app/etc

  # nginx:
  #   image: nginx:latest
  #   restart: always
  #   ports:
  #     - "80:80" #
  #   volumes:
  #     - ./nginx.conf:/etc/nginx/nginx.conf:ro 
  #     - ./html:/usr/share/nginx/html:ro 
  #   depends_on:
  #     - job

  db:
    image: postgres:alpine3.23
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 123456
      POSTGRES_DB: megichains
    ports:
      - 5432:5432
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -U postgres -d megichains']
      interval: 3s
      retries: 5
      start_period: 20s
    volumes:
      - type: bind
        # source: /home/test/database/postgresql
        source: /Users/eysirsduane/database/postgresql
        target: /var/lib/postgresql

volumes:
  volume-postgresql: